/* .App {
  text-align: center;
} */

.recipe-picture
{
  height: 340px;
  width: 550px;
  object-fit: cover;
}
.recepi-name
{
  font-size: 48px;
  padding: 16px;
  margin: 10px;
  
}

.recipe-container
{
  background: white;
  width: 550px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgb(0 0 0/ 4%) 0px 1px 11px 1px;
  transition: 0.2s;
}

.recipe-container:hover
{
  transform: scale(1.1);
}

body
{
  background: whitesmoke;
  margin: 50px;
  font-family: Roboto;
}

.recipe-list
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.login-form > input
{
  font-size: 48px;
}

