/* .App {
  text-align: center;
} */

.recipe-picture
{
  height: 540px;
  width: 550px;
  object-fit: cover;
}
.recepi-name
{
  font-size: 48px;
  
}

.recipe-container
{
  background: orange
}

body
{
  background: whitesmoke;
}

